<mat-card class="example-card">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dispatch Station</a>
    </div>
    <div>
        <button type="submit"  class="btn btn-primary" style="margin-right: 3%;" (click)="pendingPatients()">Pending Patients</button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">LOGOUT</button>
  </div>
  </nav>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content width="500%">
    <form #Form="ngForm"  class="form">
      <table class="single">
        <tr>
          <td>
              <mat-form-field appearance="outline"class="single">
                  <mat-label>Sample ID</mat-label>
                  <input  #sampleid="ngModel" [(ngModel)]="sampleID" matInput name="Sample ID" placeholder="Enter Sample Id" type="text" >
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <button  class="submit" (click)="autofill(); hiddenForm.hidden=false" color="primary"  mat-raised-button>Go
            </button>
          </td>
        </tr>
        
      </table>


      <br>
      <mat-divider></mat-divider>
      <br>


      <div #hiddenForm class="viewForm" [hidden]="(newForm)">
        <table class="single">
          <tr>
            <td colspan="2">
              <mat-form-field appearance="outline"class="single">
                <mat-label>Sample ID</mat-label>
                <input   #name="ngModel" [(ngModel)]="sD.sample_id" [disabled]="isPddReadOnly"  matInput name="sampleID" placeholder="Enter id" required type="text">
            
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field appearance="outline"class="single">
                <mat-label>Patient Name</mat-label>
                <input  #name="ngModel" [(ngModel)]="pdd.name" [disabled]="isPddReadOnly"  matInput name="PatientName"  required type="text">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline" class="single">
                <mat-label>Specimen</mat-label>
                <input matInput name="Specimen" [(ngModel)]="sD.specimen" [disabled]="isPddReadOnly" matInput name="Specimen"  required type="text">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="single">
                <mat-label>Fixative</mat-label>
                <input  #fixative="ngModel" [(ngModel)]="sD.fixative" [disabled]="isPddReadOnly"  matInput name="fixative"  required type="text">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field appearance="outline" class="single">
                <mat-label>Report</mat-label>
                <input  #bReport="ngModel" [(ngModel)]="sD.remarks" [disabled]="isPddReadOnly"  matInput name="Report" placeholder="Report" required type="text">
              </mat-form-field>
            </td>
        </tr>
                   
          
        </table>
      </div>
      <div #hiddenForm  [hidden]="(newForm)">
          <div><h3>Final Report</h3></div>
          <table class="single">
          <tr>
            <td>
              <mat-form-field appearance="outline" class="single">
                <mat-label>Observations</mat-label>
                <input #npNumber="ngModel" [(ngModel)]="sD.remarks" matInput name="obsrvtns"  required type="text" matInput name="observtns"  required type="text">
              </mat-form-field>
            </td> 
             
            <td align="center">
              <button  class="submit" type="submit" (click)="saveObs()" color="primary" mat-raised-button>SAVE</button>
            </td>
          </tr>
        </table>
        </div>
      </form>
      </mat-card-content>
</mat-card>