<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pending Samples</a>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="dispatchStation()">Dispatch Station</button>
        </div>
    </nav>
    
  
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sample ID</th>
            <!-- <th scope="col">Name</th> -->
            <th scope="col">Test</th>   
            <th scope="col">Specimen</th>
            <th scope="col">Fixative</th>
            <th scope="col">Report</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sample of pndng_samples ">
            <td>{{sample.sample_id}}</td>
            <!-- <td>{{patient.name}}</td> -->
            <td>{{sample.test}}</td>
            <td>{{sample.specimen}}</td>
            <td>{{sample.fixative}}</td>
            <td>{{sample.remarks}}</td>
        </tr>
  
    </tbody>
  </table>
  </div>
  