<mat-card class="example-card">
    <!-- <mat-card-header>
      <mat-card-title>Grossing Station</mat-card-title>
    </mat-card-header>
    <div  id="navbarSupportedContent">
      <form class="d-flex">
        <button class="btn btn-outline-success" style="margin-right:20px" type="submit" (click)="pendingSamples()">Pending Samples</button>
      </form>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Grossing Station</a>
      </div>
      <div>
          <button type="submit"  class="btn btn-primary" style="margin-right: 3%;" (click)="pendingSamples()">Pending Samples</button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">LOGOUT</button>
    </div>
  </nav>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content width="500%">
      <form #Form="ngForm"  class="form">
        <!--<div *ngIf="registrationType.value=== 'INTERNAL'||registrationType.value==='EXTERNAL'">hello</div>-->
        <br>
        <br>
        <table class="single">
          <tr>
            <td>
              <mat-form-field appearance="outline" class="single">
                <mat-label>Sample Id.</mat-label>
                <input matInput #upperSampleId="ngModel" [(ngModel)]="uSampleId" (input)="uUHID=null" name="upperSampleId" placeholder="Enter Sample Id" type="text" >
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button  class="submit" color="primary" (click)="autofill(); hiddenForm.hidden=false" mat-raised-button>Go
              </button>
            </td>
          </tr>
          
        </table>
  
  
        <br>
        <mat-divider></mat-divider>
        <br>
  
  
        <div #hiddenForm class="viewForm" [hidden]="(newForm)">
          <table class="single">
            <tr>
              <td colspan="2">
                <mat-form-field appearance="outline"class="single">
                  <mat-label>Patient ID</mat-label>
                  <input #name="ngModel" [(ngModel)]="pdd.patient_id" [disabled]="isPddReadOnly"  matInput name="PatientID" placeholder="Enter id" required type="text">
                  <!-- <mat-error *ngIf="name.errors && (name.invalid || name.touched)">Enter name</mat-error> -->
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-form-field appearance="outline"class="single">
                  <mat-label>Patient Name</mat-label>
                  <input #name="ngModel" [(ngModel)]="pdd.name" [disabled]="isPddReadOnly"  matInput name="PatientName" placeholder="Enter name" required type="text">
                  <!-- <mat-error *ngIf="name.errors && (name.invalid || name.touched)">Enter name</mat-error> -->
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline" class="single">
                  <mat-label>Age</mat-label>
                  <input #age="ngModel" [(ngModel)]="pdd.age" [disabled]="isPddReadOnly" [class.is-invalid]="age.invalid && age.touched" matInput name="age" pattern="[0-9]+" placeholder="Enter age" required type="number">
                  <mat-error *ngIf="age.errors && (age.invalid || age.touched)">Enter age</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="single">
                  <mat-label>Sex</mat-label>
                  <input #sex="ngModel" [(ngModel)]="pdd.sex" [disabled]="isPddReadOnly"  matInput name="sex"  required type="text">
                  <!--<mat-error *ngIf="sex.errors && (sex.invalid || sex.touched)">Select sex</mat-error>-->
                </mat-form-field>
              </td>
            </tr>
            
            
          </table>
  
          <br>
          <mat-divider></mat-divider>
          <br>
          </div>
          
          <div #hiddenForm  [hidden]="(newForm)">
            <div><h3>REPORT</h3></div>
            <table class="single">
            <tr>
              <td>
                <mat-form-field appearance="outline" class="single">
                  <mat-label>Observations</mat-label>
                  <input #npNumber="ngModel" [(ngModel)]="obsrvtns" matInput name="obsrvtns"  required type="text">
                </mat-form-field>
              </td> 
               
              <!-- <td align="center">
                <button  class="submit" type="submit" (click)="saveObs()" color="primary" mat-raised-button>SAVE</button>
              </td> -->
            </tr>
          </table>
          </div>
  
          <div #hiddenForm  [hidden]="(newForm)">
            <div><h3>Blocks</h3></div>
            <div>
              <table class="single">
                <tr>
                  <td>
                    <mat-form-field appearance="outline" class="single">
                      <mat-label>Quantity</mat-label>
                      <input #npNumber="ngModel" [(ngModel)]="quantity" matInput name="quantity"  required type="text">
                    </mat-form-field>
                  </td> 
                  <td align="center">
                    <button  class="submit" type="submit" (click)="saveBlockDetails()" hiddenTable.hide=false color="primary" mat-raised-button>SAVE</button>
                  </td>
                </tr>
              </table>
            </div>
            

            <table #hiddenTable class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>Block ID</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let block of blkDetails">
                  <td>
                    <mat-form-field appearance="outline" class="single">
                      <mat-label>Block ID</mat-label>
                      <input #npNumber="ngModel" [(ngModel)]="block.block_id" matInput name="{{block.block_id}}" disabled=true required type="text">
                    </mat-form-field>
                  </td>
                  <td>
                      
                  </tr>
              </tbody>
          </table>
          
          </div> 
      </form>
      <!-- <td>
        <input [(ngModel)]="sample.sample_id class="form-control" type="text" name="{{sample.sample_id}" />
    </td>
    <td>
        <input [(ngModel)]="sample.remarks" class="form-control" type="text" name="{{sample.remarks}" />
    </td> -->
  
    </mat-card-content>
  </mat-card>
  