<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pending Samples</a>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="verificationStation()">Verification Station</button>
        </div>
    </nav>
    
  
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sample ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Test</th>
            <th scope="col">Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sample of pndng_samples ">
            <td>{{sample.sample_id}}</td>
            <td>{{sample.pd.name}}</td>
            <td>{{sample.test}}</td>
            <td>{{sample.remarks}}</td>
            
        </tr>
  
    </tbody>
  </table>
  </div>
  